

<style>
  body {
    height: 100vh;
  }
</style>

<main>
  <div class="fundoprincipal">
    <div *ngIf="pagNumber === 1">
      <app-livro-capa></app-livro-capa>
    </div>
    <div *ngIf="pagNumber === 2">
      <app-pagina-vovo></app-pagina-vovo>
    </div>
    <!-- <app-pagina-agricultor></app-pagina-agricultor> -->
    <!-- <app-pagina-agricultor></app-pagina-agricultor> -->

     <button matButton="filled" (click)="increasePage()">+</button>
      <span>{{ pagNumber }}</span>
     <button matButton="filled" (click)="decreasePage()">-</button>
  </div>
</main>

