.fundocama{
    width: 100%;    
    height: 100vh;
}

.ana_container {
    position: relative;
}

.ana_acenando {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 455px;
    height: auto;
}
